@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
body, html {
  padding: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: '微軟正黑體', sans-serif; }

#app {
  font-size: 1em; }

input[type=radio] {
  display: none; }
  input[type=radio] + label {
    width: 40px;
    height: 40px;
    font-size: 1.5em; }
    input[type=radio] + label:hover {
      background-color: #aaa;
      cursor: pointer; }
  input[type=radio]:checked + label {
    background-color: #111;
    color: #eee; }

svg {
  width: 240px;
  border: solid 2px; }

#pic1 rect, #pic2 rect, #pic3 rect {
  fill: blue;
  stroke: yellow; }

#pic1 rect, #pic2 rect, #pic3 rect {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s; }

#pic1 .showrect, #pic2 .showrect, #pic3 .showrect {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
